
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2:wght@500&family=Combo&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Roboto:wght@300;700&display=swap');

.App-header {
  height: 1400vh;
  background-color: rgb(214, 209, 209);
  display: flex;
  flex-direction: column;
  position: relative;
}

.container{
  margin-left: 1.5em;
  margin-top: -13em;
  width: 95vw;
  height: 1233.5vh;
  background-color: white;
  box-shadow: 0 8px 15px 0 #5151519f;
  border: 1px white;
  border-radius: 6px;
}

.text-box{
  height: 20vh;
  margin-top: -20em;
  margin-left: 5em;
}

.text{
  font-weight: 700;
  font-size: 52px;
  font-family: 'Inter';
  color: white;
}

.texts{
  margin-top: -2em;
  font-size: 15px;
  word-spacing: 3px;
  font-family: 'Inter';
  color: white;
}

/* --------------------- BUTTONS SECTION ----------------------- */

.section{
  margin-top: 6em;
  margin-left: 2em;
  color: rgb(60, 59, 59);
  font-size: 40px;
  font-weight: 300;
}

.btn{
  height: 10vh;
  margin-top: 2em;
  margin-left: 2.9em;
  font-weight: 300;
  font-size: 30px;
}

.btn-txt{
  font-size: 20px;
  color: grey;
}

.btn-box{
  margin-left: 15em;
  display: flex;
}

.btn-default{
  height: 40px;
  width: 100px;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 2px;
}
.btn-default:hover{
  box-shadow: 0 5px 5px #7c4c857e;
}

.btn-round{
  height: 40px;
  width: 100px;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 50px;
}
.btn-round:hover{
  box-shadow: 0 5px 5px #7c4c857e;
}

.btn-icon{
  position: relative;
  display: flex;
  height: 40px;
  width: 150px;
  margin-right: .3em;
  padding-top: 12px;
  padding-left: 30px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 50px;
}
.btn-icon:hover{
  box-shadow: 0 5px 5px #7c4c857e;
}

.heart{
  margin-top: -.1em;
  margin-right: .5em;
  width: 20px; 
  height: 18px;
}

.heart:before, .heart:after { 
  position: absolute; 
  content: ""; 
  left: 25px; 
  top: -4px; 
  width: 15px; 
  height: 23px; 
  background: white; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(50deg); 
  transform-origin: 0 100%; 
} 

.heart:after { 
  left: 30px; 
  transform: rotate(-50deg); 
  transform-origin :100% 100%; 
}

.btn-symbol{
  margin-top: -.1em;
  border: 1px solid #9c27b0;
  border-radius: 100%;
  background-color: #9c27b0;
  margin-right: .5em;
  width: 45px; 
  height: 43px;
}
.btn-symbol:hover{
  box-shadow: 0 5px 5px #7c4c857e;
}

.symbol-heart{
  margin-left: .5em;
  height: 15px;
  width: 15px;
  border: 1px solid white;
  border-radius: 100%;
  background: white;
}

/* .symbol-heart:before, .symbol-heart:after { 
  position: absolute; 
  content: ""; 
  left: 25px; 
  top: -4px; 
  width: 15px; 
  height: 23px; 
  background: white; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(50deg); 
  transform-origin: 0 100%;
} 
  
.symbol-heart:after { 
  left: 30px; 
  transform: rotate(-50deg); 
  transform-origin :100% 100%; 
}  */

.btn-simple{
  height: 40px;
  width: 100px;
  border: none;
  background-color: white;
  color: #9c27b0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
}

.btn-size{
  margin-top: 2em;
  margin-left: 4.5em;
  font-size: 20px;
  color: grey;
}

.btn-small{
  height: 30px;
  width: 80px;
  margin-right: .2em;
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 2px;
}
.btn-small:hover{
  box-shadow: 0 5px 5px #7c4c857e;
}

.btn-regular{
  height: 45px;
  width: 90px;
  margin-top: -.5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 2px;
}
.btn-regular:hover{
  box-shadow: 0 5px 5px #7c4c857e;
}

.btn-large{
  height: 60px;
  width: 100px;
  margin-top: -1em;
  margin-right: .2em;
  color: white;
  font-size: 13px;
  font-weight: bold;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 2px;
}
.btn-large:hover{
  box-shadow: 0 5px 5px #7c4c857e;
}

.btn-defaul{
  height: 40px;
  width: 100px;
  margin-top: .5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 2px;
}

.btn-defaul:hover{
  box-shadow: 0 5px 10px 0 rgba(128, 128, 128, 0.466);
}

.btn-primary{
  height: 40px;
  width: 100px;
  margin-top: .5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 2px;
}

.btn-primary:hover{
  box-shadow: 0 5px 10px 0 rgba(128, 128, 128, 0.466);
}

.btn-info{
  height: 40px;
  width: 100px;
  margin-top: .5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(0, 183, 255);
  border: 1px solid rgb(0, 183, 255);
  border-radius: 2px;
}

.btn-info:hover{
  box-shadow: 0 5px 10px 0 rgb(0, 183, 255, 0.466);
}

.btn-success{
  height: 40px;
  width: 100px;
  margin-top: .5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(57, 181, 51);
  border: 1px solid rgb(57, 181, 51);
  border-radius: 2px;
}

.btn-success:hover{
  box-shadow: 0 5px 10px 0 rgb(57, 181, 51, 0.466);
}

.btn-warning{
  height: 40px;
  width: 100px;
  margin-top: .5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 2px;
}

.btn-warning:hover{
  box-shadow: 0 5px 10px 0 rgba(255, 166, 0, 0.466);
}

.btn-danger{
  height: 40px;
  width: 100px;
  margin-top: .5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: red;
  border: 1px solid red;
  border-radius: 2px;
}

.btn-danger:hover{
  box-shadow: 0 5px 10px 0 rgba(255, 0, 0, 0.466);
}

.btn-rose{
  height: 40px;
  width: 100px;
  margin-top: .5em;
  margin-right: .2em;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: mediumvioletred;
  border: 1px solid mediumvioletred;
  border-radius: 2px;
}

.btn-rose:hover{
  box-shadow: 0 5px 10px 0 rgba(199, 21, 134, 0.466);
}

/* ------------------------ Input fields ----------------------- */

.input-txt{
  height: 173px;
  margin-top: 2em;
  margin-left: 3.1em;
  font-size: 30px;
  font-weight: 100;
  color: black;
  border: 1px solid red;
}

.simple-form{
  display: flex;
  margin-top: .5em;
  height: 50px;
}

.form1{
  margin-right: .5em;
  width: 280px;
}

.user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: grey;
  border-bottom: 2px solid mediumvioletred;
  outline: none;
  background: white;
}

.user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: border 1px solid mediumvioletred;
  transition: .5s;
}

.user-box input:focus~label,
          .user-box input:valid~label {
            top: -85px;
            left: 0;
            color: grey;
            font-size: 15px;
        }

.form2{
  margin-right: .5em;
  width: 280px;
}

.user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: grey;
  border-bottom: 2px solid mediumvioletred;
  outline: none;
  background: white;
}

.user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: border 1px solid mediumvioletred;
  transition: .5s;
}

.user-box input:focus~label,
          .user-box input:valid~label {
            top: -85px;
            left: 0;
            color: grey;
            font-size: 15px;
        }

.form3{
  margin-right: .5em;
  width: 280px;
}

.user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: grey;
  border-bottom: 2px solid mediumvioletred;
  outline: none;
  background: white;
}

.user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: border 1px solid mediumvioletred;
  transition: .5s;
}

.user-box input:focus~label,
          .user-box input:valid~label {
            top: -85px;
            left: 0;
            color: grey;
            font-size: 15px;
        }

.form4{
  width: 280px;
}

.user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: grey;
  border-bottom: 2px solid mediumvioletred;
  outline: none;
  background: white;
}

.user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: border 1px solid mediumvioletred;
  transition: .5s;
}

.user-box input:focus~label,
          .user-box input:valid~label {
            top: -85px;
            left: 0;
            color: grey;
            font-size: 15px;
        }

.icon-form{
  display: flex;
  margin-top: .5em;
  height: 50px;
  border: 1px solid black;
}

/* ------------------ checkbox, radio button, toggle button ------------- */

.crt{
  color: rgb(28, 27, 27);
  font-size: 30px;
  font-weight: 200;
  display: flex;
  margin-left: 3.2em;
}

.checkbox{
  margin-right: 2em;
  height: 200px;
  width: 250px;
  border: 1px solid black;
}

.checkbox1{
  color: rgb(187, 183, 183);
  word-spacing: 10px;
  font-size: 1.1vw;
  font-weight: 350;
}

.checkbox2{
  margin-right: 1em;
}

.radio{
  margin-right: 2em;
  height: 200px;
  width: 250px;
  border: 1px solid black;
}

.radio1{
  color: rgb(187, 183, 183);
  word-spacing: 10px;
  font-size: 1.1vw;
  font-weight: 350;
}

.radio2{
  margin-right: 1em;
}

.toggle{
  margin-right: 2em;
  height: 200px;
  width: 250px;
  border: 1px solid black;
}

.toggle-txt{
  margin-left: 5em;
  font-family: 'Inter';
  color: rgb(187, 183, 183);
  word-spacing: 10px;
  font-size: 1.1vw;
  font-weight: 350;
}

.switch {
  position: absolute;
  display: flex;
  width: 38px;
  height: 45px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slidert {
  margin-top: 20px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(132, 127, 127);
  -webkit-transition: .1s;
  transition: .1s;
}

.slidert:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: -3px;
  left: 0;
  bottom: 4px;
  background-color: white;
  border: 1px solid rgb(132, 127, 127);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slidert {
  background-color: mediumvioletred;
}

input:focus + .slidert {
  box-shadow: 0 0 1px mediumvioletred;
}

input:checked + .slidert:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slidert.round {
  border-radius: 34px;
}

.slidert.round:before {
  border-radius: 70%;
}

/* ------------------------- PROGRESSBAR AND PAGINATION ------------------------- */

.progresspage{
  display: flex;
  margin-top: 5em;
  margin-left: 6em;
  height: 150px;
  width: 95%;
}

.progressbar{
  margin-right: 1em;
  border: 1px solid black;
  color: rgb(72, 70, 70);
  font-size: 25px;
  font-weight: 400;
  height: 150px;
  width: 50%;
}

.pagination{
  border: 1px solid black;
  color: rgb(72, 70, 70);
  font-size: 25px;
  font-weight: 400;
  height: 150px;
  width: 40%;
}

.prgsbar1{
  display: flex;
  margin-top: 1em;
  height: 4px;
}

.prgdrk{
  background-color: mediumvioletred;
  width: 25%;
}

.prglgh{
  background-color: rgb(241, 178, 218);
  width: 75%;
}

.prgsbar2{
  display: flex;
  margin-top: 1em;
  height: 4px;
}

.prg2drk{
  background-color: rgb(5, 137, 157);
  width: 60%;
}

.prg2lgh{
  background-color: rgb(145, 228, 240);
  width: 60%;
}

.prgsbar3{
  display: flex;
  margin-top: 1em;
  height: 4px;
}

.prg3grn{
  background-color: rgb(3, 163, 3);
  width: 35%;
}

.prg3org{
  background-color: orange;
  width: 25%;
}

.prg3red{
  background-color: red;
  width: 15%;
}

.prg3lgh{
  background-color: rgb(249, 183, 183);
  width: 30%;
}

.slider-budges{
  display: flex;
  margin-top: 5em;
  height: 150px;
  border: 1px solid red;
}

.slidercontainer{
  margin-top: -1em;
  margin-left: 3.8em;
  margin-right: .9em;
  height: 150px;
  width: 600px;
  color: rgb(67, 65, 65);
  font-size: 25px;
  font-weight: 400;
  border: 1px solid black;
}

/* ------------------ BUDGES ------------------ */

.budges{
  height: 150px;
  width:  480px;
  color: rgb(67, 65, 65);
  font-size: 25px;
  font-weight: 400;
  border: 1px solid black;
}

.budges-box{
  margin-top: .5em;
  display: flex;
}

.bdg-default{
  margin-top: 1em;
  margin-right: .5em;
  padding:  3px 4px 0px 10px;
  height: 15px;
  width: 80px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Inter';
  border: 1px solid grey;
  background-color: grey;
  border-radius: 10px;
}

.bdg-primary{
  margin-top: 1em;
  margin-right: .5em;
  padding:  3px 4px 0px 10px;
  height: 15px;
  width: 80px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Inter';
  background-color: #9c27b0;
  border: 1px solid #9c27b0;
  border-radius: 10px;
}

.bdg-info{
  margin-top: 1em;
  margin-right: .5em;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 20px;
  height: 15px;
  width: 80px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Inter';
  background-color: #00acc1;
  border: 1px solid #00acc1;
  border-radius: 10px;
}

.bdg-success{
  margin-top: 1em;
  margin-right: .5em;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 4px;
  height: 15px;
  width: 80px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Inter';
  background-color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 10px;
}

.bdg-warning{
  margin-top: 1em;
  margin-right: .5em;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 2px;
  height: 15px;
  width: 80px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Inter';
  background-color: orange;
  border: 1px solid orange;
  border-radius: 10px;
}

.bdg-danger{
  margin-top: 1em;
  margin-right: .5em;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 10px;
  height: 15px;
  width: 80px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Inter';
  background-color: red;
  border: 1px solid red;
  border-radius: 10px;
}

.bdg-rose{
  margin-top: 1em;
  height: 15px;
  padding:  3px 0px 0px 15px;
  width: 80px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Inter';
  background-color: mediumvioletred;
  border: 1px solid mediumvioletred;
  border-radius: 10px;
}

/* ------------------------ SMALL NOTIFICATIONS -------------------------- */

.menu-icon{
  margin-top: 5em;
  border: 1px solid red;
  height: 140px;
}
.navbar {
  margin-left: 5.8em;
  height: 70px;
  width: 42%;
  background-color: #9c27b0;
  box-shadow: 0 5px 10px 0 #9b27b089;
  border-radius: 3px;
  display: flex;
}
.menu-btn{
  margin-left: .5em;
  background-color: #9c27b0;
  text-align: center;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}
.menu-btn-link1{
  text-decoration: none;
  height: 30px;
  width: 40px;
  text-align: center;
  padding-top: 9px;
  padding-left: 15px;
  font-size: 13px;
  margin-right: .1em;
  margin-left: .5em;
  margin-top: 1.3em;
}
.menu-btn-link1:hover{
  background-color: rgba(255, 255, 255, 0.093);
  border-radius: 2px;
}
.menu-btn-link2{
  text-decoration: none;
  height: 30px;
  width: 40px;
  text-align: center;
  padding-top: 9px;
  padding-left: 15px;
  font-size: 13px;
  margin-right: 1em;
  margin-left: .2em;
  margin-top: 1.3em;
}
.menu-btn-link2:hover{
  background-color: rgba(255, 255, 255, 0.093);
  border-radius: 2px;
}
.dropdown-btn{
  border: none;
  background-color: #9c27b0;
  padding-top: 16px;
  display: flex;
  color: white;
  height: 48px;
  width: 115px;
  font-size: 13px;
  margin-top: .9em;
}
.dropdown-icon{
  margin-top: -5px;
  font-size: 25px;
}
.dropdown-btn:hover{
  background-color: rgba(255, 255, 255, 0.093);
  border-radius: 2px;
}
.dropdown-content{
  background-color: white;
  box-shadow: 0 5px 10px 0 rgb(167, 167, 167);
  width: 200px;
  margin-left: -55px;
  margin-top: -11px;
  border-radius: 5px;
}
.dropdown-content-txt{
  color: rgb(167, 167, 167);
  padding-top: 15px;
  padding-left: 18px;
  font-size: 13px;
  font-weight: lighter;
}
.dropdown-item{
  text-decoration: none;
  color: rgb(74, 74, 74);
  font-size: 13px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menuwithicon{
  display: flex;
  background-color: #00acc1;
  box-shadow: 0 5px 10px 0 #00abc162;
  border-radius: 3px;
  margin-left: 41.5em;
  margin-top: -70px;
  height: 70px;
  width: 42%;
}
.navigationwithicon-txt{
  padding-top: 18px;
  padding-left: 20px;
  color: white;
  font-size: 20px;
}
.mail-icon{
  border-radius: 3px;
  height: 33px;
  width: 32px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-size: 20px;
  margin-top: -32px;
  margin-left: 17.8em; 
}
.mail-icon:hover{
  background-color: rgba(255, 255, 255, 0.093);
}
.face-icon{
  border-radius: 3px;
  height: 31.5px;
  width: 34px;
  padding-left: 13px;
  padding-top: 11px;
  color: white;
  font-size: 20px;
  margin-left: 20em; 
  margin-top: -44px;
}
.face-icon:hover{
  background-color: rgba(255, 255, 255, 0.093);
}
.setting-icon{
  border-radius: 3px;
  height: 31px;
  width: 40px;
  padding-left: 10px;
  padding-top: 11px;
  color: white;
  font-size: 20px;
  margin-left: 22.5em; 
  margin-top: -42px;
}
.setting-icon:hover{
  background-color: rgba(255, 255, 255, 0.093);
}
.setting-dropdown-content{
  background-color: white;
  box-shadow: 0 5px 10px 0 rgb(167, 167, 167);
  width: 190px;
  margin-left: 29em;
  margin-top: -11px;
  border-radius: 5px;
}
.setting-dropdown-content-txt{
  color: rgb(167, 167, 167);
  padding-top: 15px;
  padding-left: 18px;
  font-size: 13px;
  font-weight: lighter;
}
.setting-dropdown-item{
  text-decoration: none;
  color: rgb(74, 74, 74);
  font-size: 13px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* --------------------------- NOTIFICATIONS -------------------------- */

.notifications{
  height: 400px;
  margin-left: 3.1em;
}

.notifications, p{
  color: rgb(67, 65, 65);
  font-family: 'Inter';
  font-size: 30px;
  font-weight: lighter;
}

.info {
  margin-top: 1em;
  padding: 20px;
  background-color: blue;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.success {
  margin-top: 1em;
  padding: 20px;
  background-color: green;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.warning {
  margin-top: 1em;
  padding: 20px;
  background-color: orange;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-right: 200px;
  color: white;
  font-weight: 300;
  float: right;
  font-size: 20px;
  line-height: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* -------------------------- TYPOGRAPHY CONTAINER ---------------------- */

.typographycontainer{
  margin-top: 4em;
  margin-left: 2.4em;
  font-family: 'Inter';
  color: rgb(67, 65, 65);
  font-weight: lighter;
  font-size: 40px;
  height: 2000px;
}

.typography1{
  display: flex;
  margin-top: .5em;
  height: 60px;
}

.header1{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headertxt1{
  margin-top: .1em;
  margin-left: 4em;
  height: 55px;
  width: 800px;
  font-family: 'Inter';
  font-size: 50px;
  color: rgb(54, 52, 52);
}

.typography2{
  display: flex;
  margin-top: 1em;
  height: 60px;
}

.header2{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headertxt2{
  margin-top: .1em;
  margin-left: 5.7em;
  height: 55px;
  width: 800px;
  font-family: 'Inter';
  font-size: 35px;
  color: rgb(62, 60, 60);
}

.typography3{
  display: flex;
  margin-top: 1em;
  height: 60px;
}

.header3{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headertxt3{
  margin-top: .1em;
  margin-left: 8.1em;
  height: 55px;
  width: 800px;
  font-family: 'Inter';
  font-size: 25px;
  color: rgb(75, 72, 72);
}

.typography4{
  display: flex;
  margin-top: 1em;
  height: 60px;
}

.header4{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headertxt4{
  margin-top: .1em;
  margin-left: 11.3em;
  height: 55px;
  width: 800px;
  font-family: 'Inter';
  font-size: 18px;
  color: rgb(101, 96, 96);
}

.typography5{
  display: flex;
  margin-top: 1em;
  height: 60px;
}

.header5{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headertxt5{
  margin-top: .1em;
  margin-left: 13.5em;
  height: 55px;
  width: 800px;
  font-family: 'Inter';
  font-size: 15px;
  color: rgb(90, 85, 85);
}

.typography6{
  display: flex;
  margin-top: 1em;
  height: 60px;
}

.header6{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headertxt6{
  margin-top: .1em;
  margin-left: 17em;
  height: 55px;
  width: 800px;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: bold;
  color: rgb(80, 78, 78);
}

.typography7{
  display: flex;
  margin-top: 1em;
  height: 70px;
}

.heading1{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headingtxt1{
  margin-top: .1em;
  margin-left: 4.1em;
  height: 65px;
  width: 800px;
  font-family: 'Inter';
  font-size: 50px;
  font-weight: bold;
  color: rgb(71, 69, 69);
}

.typography8{
  display: flex;
  margin-top: 1em;
  height: 70px;
}

.heading2{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headingtxt2{
  margin-top: .1em;
  margin-left: 6.2em;
  height: 65px;
  width: 800px;
  font-family: 'Inter';
  font-size: 33px;
  font-weight: 600;
  color: rgb(71, 69, 69);
}

.typography9{
  display: flex;
  margin-top: 1em;
  height: 70px;
}

.heading3{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headingtxt3{
  margin-top: .1em;
  margin-left: 9.4em;
  height: 65px;
  width: 800px;
  font-family: 'Inter';
  font-size: 22px;
  font-weight: bold;
  color: rgb(71, 69, 69);
}

.typography10{
  display: flex;
  margin-top: 1em;
  height: 70px;
}

.heading4{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.headingtxt4{
  margin-top: .1em;
  margin-left: 11.5em;
  height: 65px;
  width: 800px;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: bold;
  color: rgb(71, 69, 69);
}

.typography11{
  display: flex;
  margin-top: 1em;
  height: 90px;
}

.paragraph{
  margin-top: 3.5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.para{
  margin-left: 13.7em;
  text-align: left;
  height: 75px;
  font-weight: 300;
  color: rgb(158, 155, 155);
  font-size: 15px;
}

.typography12{
  display: flex;
  height: 60px;
}

.muted{
  margin-top: 2em;
  height: 16px;
  width: 70px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.mutedtxt{
  margin-top: 1em;
  margin-left: 13.1em;
  text-align: left;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: rgb(158, 155, 155);
  font-size: 15px;
}

.typography13{
  display: flex;
  height: 60px;
}

.primary{
  margin-top: 2em;
  height: 16px;
  width: 80px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.primarytxt{
  margin-top: 1em;
  margin-left: 12.5em;
  text-align: left;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #9c27b0;
  font-size: 15px;
}

.typography14{
  display: flex;
  height: 60px;
}

.infoh{
  margin-top: 2em;
  height: 16px;
  width: 80px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.infotxt{
  margin-top: 1em;
  margin-left: 12.5em;
  text-align: left;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #00acc1;
  font-size: 15px;
}

.typography15{
  display: flex;
  height: 60px;
}

.suces{
  margin-top: 2em;
  height: 16px;
  width: 80px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.sucestxt{
  margin-top: 1em;
  margin-left: 12.5em;
  text-align: left;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #4caf50;
  font-size: 15px;
}

.typography16{
  display: flex;
  height: 60px;
}

.warn{
  margin-top: 2em;
  height: 16px;
  width: 80px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.warntxt{
  margin-top: 1em;
  margin-left: 12.5em;
  text-align: left;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: orange;
  font-size: 15px;
}

.typography17{
  display: flex;
  height: 60px;
}

.danger{
  margin-top: 2em;
  height: 16px;
  width: 80px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.dangertxt{
  margin-top: 1em;
  margin-left: 12.5em;
  text-align: left;
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  color: red;
  font-size: 15px;
}

.typography18{
  display: flex;
  height: 80px;
}

.smalltag{
  margin-top: 5em;
  height: 16px;
  width: 60px;
  font-family: 'Inter';
  font-size: 12px;
  color: rgb(179, 177, 177);
  font-weight: bold;
}

.smalltxt1{
  margin-top: 3em;
  margin-left: 10em;
  font-size: 20px;
  color: rgb(97, 96, 96);
}

.smalltxt2{
  margin-left: 5em;
  margin-top: -2.5em;
  font-size: 40px;
  font-weight: lighter;
  height: 50px;
}

/* ---------------------------- IMAGE CONTAINER --------------------------- */

.image-container{
  margin-top: -16em;
  height: 313px;
}

.imagetxt{
  margin-left: 2.4em;
  font-family: 'Inter';
  color: rgb(69, 68, 68);
  font-weight: 10vw;
  height: 50px;
  font-size: 35px;
}

.imageboxtxt{
  display: flex;
  margin-top: 2em;
  margin-left: 5.2em;
  height: 30px;
}

.roundetxt{
  margin-right: 7em;
  word-spacing: 10px;
  height: 30px;
  width: 180px;
  font-size: 20px;
  color: grey;
}
.circletxt{
  margin-right: 5.5em;
  word-spacing: 10px;
  height: 30px;
  width: 180px;
  font-size: 20px;
  color: grey;
}
.rounderaisedtxt{
  margin-right: 7em;
  word-spacing: 10px;
  height: 30px;
  width: 180px;
  font-size: 20px;
  color: grey;
}
.circleraisedtxt{
  word-spacing: 10px;
  height: 30px;
  width: 180px;
  font-size: 20px;
  color: grey;
}

.imagebox{
  display: flex;
  margin-top: 1em;
  margin-left: 5.1em;
  height: 180px;
}

.rounderimage{
  border-radius: 5%;
  margin-right: 7em;
  height: 180px;
  width: 190px;
}

.circleimage{
  border-radius: 100%;
  margin-right: 7em;
  height: 180px;
  width: 190px;
}

.rounderaisedimage{
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 7em;
  height: 180px;
  width: 190px;
}

.circleraisedimage{
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 180px;
  width: 190px;
}

/* ------------------------ javascript-container ------------------- */

.javascript-container{
  margin-top: 13em;
  height: 500px;
}

.javascripttxt{
  margin-left: 2.3em;
  height: 50px;
  font-size: 35px;
  color: rgb(69, 68, 68);
}

.modal-popove-toplist{
  border: 1px solid rgb(0, 183, 255);
  display: flex;
  height: 405px;
}

.modal{
  margin-top: 4em;
  margin-left: 7em;
  margin-right: 10em;
  height: 340px;
  width: 400px;
}

.modaltxt{
  font-size: 28px;
  font-weight: 300;
  color: rgb(61, 60, 60);
  height: 40px;
}

.modalbtntxt{
  border: 1px solid #9c27b0;
  border-radius: 3px;
  background-color: #9c27b0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 1.5em;
  height: 48px;
  width: 150px;
}

.modalbtntxt:hover{
  box-shadow: 0 1px 5px 0 #9c27b0;
}

.icon{
  margin-top: .1em;
  margin-right: .5em;
}

.datetimepkr{
  margin-left: .5em;
  margin-top: 3.5em;
  font-size: 28px;
  font-weight: 300;
  color: rgb(61, 60, 60);
}

.datetimepkr-light{
  margin-left: .9em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 15px;
  font-weight: 400;
  color: rgb(199, 196, 196);
}

.datetime{
  font-size: 15px;
  font-weight: 300;
  color: rgb(145, 144, 144);
}

.datetime, input[type=date] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: none;
  border: none;
  border-bottom: 1px solid rgb(165, 164, 164);
}

.popovers-toplists{
  border: 1px solid black;
  margin-top: 4em;
  height: 340px;
  width: 600px;
}

.popovetxt{
  border: 1px solid black;
  font-size: 30px;
  height: 40px;
  color: rgb(69, 68, 68);
}

.popovebtns{
  border: 1px solid red;
  margin-top: 1.5em;
  height: 45px;
}

.pbtn1{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.pbtn1:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
}

.pbtn2{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.pbtn2:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
}

.pbtn3{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.pbtn3:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
}

.pbtn4{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.pbtn4:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
}

.tooltiptxt{
  border: 1px solid black;
  margin-top: 2em;
  font-size: 30px;
  height: 40px;
  color: rgb(69, 68, 68);
}

.tooltipbtns{
  border: 1px solid red;
  margin-top: 1.5em;
  height: 45px;
}

.tbtn1{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.tbtn1 .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tbtn1 .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tbtn1:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* .tbtn1:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
} */

.tbtn2{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.tbtn2 .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tbtn2 .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tbtn2:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* .tbtn2:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
} */

.tbtn3{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.tbtn3 .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tbtn3 .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tbtn3:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* .tbtn3:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
} */

.tbtn4{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(168, 168, 168);
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: .2em;
  cursor: pointer;
  height: 45px;
  width: 120px;
}

.tbtn4 .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tbtn4 .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tbtn4:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* .tbtn4:hover{
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
} */



/* Popup container - can be anything you want */
/* .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* The actual popup */
/* .popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
} */

/* Popup arrow */
/* .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
/* .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
} */

/* Add animation (fade in the popup) */
/* @-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} */

/* ----------------------- IMAGE SLIDER ----------------------- */

.carousel-box{
  border: 1px solid black;
  height: 474px;
}

.carousel-txt{
  border: 1px solid red;
  margin-left: 3.5em;
  height: 40px;
  font-size: 28px;
  font-family: 'Inter';
  font-weight: lighter;
  color: rgb(86, 86, 86);
}

.carousel-image{
  border: 1px solid red;
  border-radius: 2%;
  margin-top: 5em;
  margin-left: 20em;
  height: 350px;
  width: 650px;
}

.prev-btn, .next-btn{
  margin-top: 12em;
}

.next-btn::after{
  left: 10px;
}

.simple-txt{
  border: 1px solid black;
  margin-top: 12em;
  height: 153px;

}

.completed-txt{
  border: 1px solid red;
  margin-left: 10.5em;
  font-size: 40px;
  font-weight: 300;
  height: 55px;
  width: 33.5%;
}

.completed-small-txt{
  border: 1px solid red;
  text-align: center;
  margin-left: 11.5em;
  margin-top: .5em;
  color: grey;
  font-size: 20px;
  font-weight: 200;
  height: 85px;
  width: 800px;
}

/* --------------------- Big form and image ---------------- */

.last-image-container{
  border: 1px solid black;
  margin-top: 2em;
  height: 700px;
  width: 100%;
  position: center;
  /* background-image: url("sign.jpg"); */
  background-repeat: no-repeat;
  overflow: hidden;
}

.last-form{
  border: 1px solid black;
  border-radius: 7px;
  background-color: aqua;
  margin-left: 29.5em;
  margin-top: 8em;
  height: 450px;
  width: 330px;
}

.last-form-small-txt{
  margin-top: 9em;
  margin-left: 8em;
  color: grey;
  font-size: 15px;
}

.row1{
  margin-top: 3em;
  position: relative;
}
.row1 input{
  width: 90%;
  margin-left: 1em;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
.row1 label{
  position: absolute;
  top: 0;
  left: .8em;
  color: grey;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
  transform: translateY(30px);
  transition: all 400ms ease-in-out;
}
.row1 input:focus, .row1 input:valid{
  border-bottom-color: mediumvioletred;
}
.row1 input:valid + label,
.row1 input:focus + label{
  color: mediumvioletred;
  font-size: 16px;
  transform: translateY(0);
}

.last-input-icon1{
  position: absolute;
  left: 10em;
  top: -.3em;
  color: grey;
  font-size: 28px;
}

.row2{
  margin-top: 3em;
  position: relative;
}
.row2 input{
  width: 90%;
  margin-left: 1em;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
.row2 label{
  position: absolute;
  top: 0;
  left: .8em;
  color: grey;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
  transform: translateY(30px);
  transition: all 400ms ease-in-out;
}
.row2 input:focus, .row1 input:valid{
  border-bottom-color: mediumvioletred;
}
.row2 input:valid + label,
.row2 input:focus + label{
  color: mediumvioletred;
  font-size: 16px;
  transform: translateY(0);
}

.last-input-icon2{
  position: absolute;
  left: 10em;
  top: -.3em;
  color: grey;
  font-size: 28px;
}

.row3{
  margin-top: 3em;
  position: relative;
}
.row3 input{
  width: 90%;
  margin-left: 1em;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}
.row3 label{
  position: absolute;
  top: 0;
  left: .8em;
  color: grey;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
  transform: translateY(30px);
  transition: all 400ms ease-in-out;
}
.row3 input:focus, .row1 input:valid{
  border-bottom-color: mediumvioletred;
}
.row3 input:valid + label,
.row3 input:focus + label{
  color: mediumvioletred;
  font-size: 16px;
  transform: translateY(0);
}

.last-input-icon3{
  position: absolute;
  left: 10em;
  top: -.3em;
  color: grey;
  font-size: 28px;
}

.login-txt{
  margin-top: 2.8em;
  font-size: 13px;
  height: 17px;
  margin-left: 10em;
  cursor: pointer;
  color: #9c27b0;
}

.form-box{
  border: 1px solid red;
  height: 200px;
  margin-top: 12em;
}

.last-form-icon{
  border: 1px solid mediumvioletred;
  margin-left: 30.5em;
  border-radius: 3px;
  background-color: mediumvioletred;
  box-shadow: 0 3px 8px 0  rgb(239, 107, 190);
  margin-top: -31em;
  height: 150px;
  width: 300px;
}

.last-form-txt{
  color: white;
  margin-top: 1.8em;
  margin-left: 6.1em;
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  width: 50px;
}

.icon-box, ul, a{
  color: white;
  font-size: 30px;
  display: flex;
  cursor: pointer;
  list-style-type: none;
}

.icon-box-li{
  width: 100px;
}

/* .link-page-txt, ul, a{
  list-style-type: none;
  text-decoration: none;
  font-size: 15px;
  margin-left: 12em;
  margin-top: .5em;
  color: #9c27b0;
} */

/* -------------------- landing-twopages-container ------------------ */

.landing-two-page{
  display: flex;
  margin-top: -3em;
  border: 1px solid red;
  height: 382px;
}

.landing-page1{
  border: 1px solid red;
  border-radius: 7px;
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
  margin-left: 1.8em;
  margin-right: .5em;
  height: 380px;
  width: 47%;
  border-radius: 3%;
  background-size: cover;
  overflow: hidden;
}

.landing-two-page-txt{
  display: flex;
  margin-top: 1.5em;
  height: 20px;
}

.landing-two-page-txt1{
  margin-left: 18em;
  margin-right: 38em;
  color: #9c27b0;
  font-size: 14px;
  font-weight: 450;
  list-style-type: none;
  text-decoration: none;
}

.landing-two-page-txt2{
  color: #9c27b0;
  font-size: 14px;
  font-weight: 450;
  list-style-type: none;
  text-decoration: none;
}

.landing-page2{
  border: 1px solid red;
  border-radius: 7px;
  box-shadow: 0 5px 10px 0 rgb(168, 168, 168);
  margin-left: 1.8em;
  margin-right: 2em;
  height: 380px;
  width: 47%;
  border-radius: 3%;
  background-size: cover;
  overflow: hidden;
}

/* ------------------------ Ending-txt ---------------------- */

.ending-txt{
  border: 1px solid purple;
  margin-top: 135em;
  height: 800px;
}

.love-txt{
  color: rgb(41, 41, 41);
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.love-txt-small{
  margin-top: 1em;
  margin-left: 14.7em;
  width: 730px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(95, 95, 95);
  text-align: center;
}

.box-btns{
  display: flex;
  margin-top: 1em;
  height: 60px;
}

.box-btn1{
  width: 235px;
  margin-left: 30.5em;
  margin-right: .2em;
  background-color: #9c27b0;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.box-btn1:hover{
  box-shadow: 0 3px 8px 0 #b851ca;
}

.box-btn-a1{
  text-decoration: none;
  font-size: 13px;
  margin-left: 2.2em;
}

.box-btn2{
  width: 235px;
  color: white;
  background-color: #9c27b0;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.box-btn2:hover{
  box-shadow: 0 3px 8px 0 #b851ca;
}

.box-btn-a2{
  text-decoration: none;
  font-size: 13px;
  margin-left: 2.2em;
}

.want-txt{
  margin-top: 2em;
  color: rgb(41, 41, 41);
  font-size: 40px;
  font-weight: 320;
  text-align: center;
}

.want-txt-small{
  margin-top: 1em;
  margin-left: 14.7em;
  width: 730px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(95, 95, 95);
  text-align: center;
}

.want-txt-small-span{
  font-size: 18px;
  font-weight: 400;
  color: #9c27b0;
}

.last-box-btns{
  display: flex;
  margin-top: 1em;
  height: 60px;
}

.last-box-btn1{
  width: 235px;
  margin-left: 30.5em;
  margin-right: .2em;
  background-color: #e91e63;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.last-box-btn1:hover{
  box-shadow: 0 3px 8px 0 #6f283f;
}

.last-box-btn-a1{
  text-decoration: none;
  font-size: 13px;
  margin-left: 2.2em;
}

.last-box-btn2{
  width: 235px;
  color: white;
  background-color: #e91e63;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.last-box-btn2:hover{
box-shadow: 0 3px 8px 0 #6f283f;
}

.last-box-btn-a2{
  text-decoration: none;
  font-size: 13px;
  margin-left: 2.2em;
}

.thank-txt{
  margin-top: 4em;
  height: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: 350;
  color: rgb(71, 70, 70);
}

.thanks-btn-box{
  margin-top: .5em;
  height: 43px;
  text-align: center;
}

.tweet-btn{
  cursor: pointer;
  background-color: #55acee;
  border: 1px solid #55acee;
  border-radius: 3.5%;
  margin-left: 1em;
  margin-right: .2em;
  height: 43px;
  width: 140px;
}

.tweet-btn:hover{
  box-shadow: 0 3px 8px 0 #7cbae9;

}

.tweet-btn-txt{
  margin-right: -5em;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.tweet-btn-txt-icon{
  color: white;
  margin-left: -.5em;
  margin-right: .2em;
  margin-top: -.2em;
  font-size: 19.5px;
}

.share-btn{
  cursor: pointer;
  background-color: #3b5998;
  border: 1px solid #3b5998;
  border-radius: 3.5%;
  margin-right: .2em;
  height:43px;
  width: 140px;
}

.share-btn:hover{
  box-shadow: 0 3px 8px 0 #6383c8;
}

.share-btn-txt{
  margin-right: -5em;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.share-btn-txt-icon{
  color: white;
  margin-left: -.5em;
  margin-right: .2em;
  margin-top: -.2em;
  font-size: 19.5px;
}

.star-btn{
  cursor: pointer;
  background-color: #333333;
  border: 1px solid #333333;
  border-radius: 3.5%;
  height: 43px;
  width: 140px;
}

.star-btn:hover{
  box-shadow: 0 3px 8px 0 #515151;
}

.star-btn-txt{
  margin-right: -5em;
  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.star-btn-txt-icon{
  color: white;
  margin-left: -.5em;
  margin-right: .2em;
  margin-top: -.2em;
  font-size: 19.5px;
}

/* ------------------------ FOOTER PART ------------------------ */

.footer-container{
  border: 1px solid black;
  display: flex;
  margin-top: 3em;
  height: 45px;
}

.footer1{
  border: 1px solid red;
  margin-left: 6em;
  margin-right: .5em;
  height: 43px;
  width: 100px;
}
.footer-txt-1{
  text-decoration: none;
  font-size: 13px;
  color: rgb(80, 79, 79);
  margin-left: -1em;
  font-weight: 500;
}

.footer2{
  border: 1px solid red;
  margin-right: .5em;
  height: 43px;
  width: 80px;
}
.footer-txt-2{
  text-decoration: none;
  font-size: 13px;
  color: rgb(80, 79, 79);
  margin-left: -1em;
  font-weight: 500;
}

.footer3{
  border: 1px solid red;
  margin-right: .5em;
  height: 43px;
  width: 50px;
}
.footer-txt-3{
  text-decoration: none;
  font-size: 13px;
  color: rgb(80, 79, 79);
  margin-left: -1em;
  font-weight: 500;
}

.footer4{
  border: 1px solid red;
  margin-right: 27em;
  height: 43px;
  width: 70px;
}
.footer-txt-4{
  text-decoration: none;
  font-size: 13px;
  color: rgb(80, 79, 79);
  margin-left: -1em;
  font-weight: 500;
}

.footer5{
  border: 1px solid red;
  display: flex;
  height: 43px;
  width: 400px;
}
.footer-txt-5{
  margin-top: -1em;
  color: rgb(80, 79, 79);
  font-size: 17px;
  font-weight: lighter;
}
.footer-copyright-symbol{
  margin-top: 1em;
  margin-right: .2em;
  color: rgb(80,79,79);
  font-weight: light;
}
.footer-heart-symbol{
  margin-top: 1.6em;
  margin-left: .3em;
  margin-right: .3em;
  font-size: 18px;
  color: rgb(80, 79, 79);
}
.footer-span-txt-5{
  color: #9c27b0;
  margin-left: .2em;
  margin-right: .2em;
}